.temas{
    background-color:rgb(29, 29, 29);
    color: whitesmoke;
    margin: 10px;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 11px;
}
.btn{
    border-color:dimgrey;
    margin: 10px;
    width: 200px;
    justify-content: right;
}
.theme{
    background-color:rgb(29, 29, 29);
    justify-content: right;
}
body {
    color: rgb(34, 34, 37);
    transition: ease 1s;
}

.darkMode{
    background-color: black;
    color: whitesmoke;
} 
.btn-light{
    border-radius: 10px;
    background-color: whitesmoke;
    border-style: none;
}
.btn-dark{
    border-radius: 10px;
    background-color: rgb(74, 69, 69);
    color: whitesmoke;
    border-style: none;
}